[user]
	name = Clement Peau
	email = clement.peau@gmail.com

[credential]
    helper = store --file /home/peauc/.git-credentials
    helper = cache --timeout 30000
[branch]
	autosetupmerge = always
[push]
	default = current
[merge]
	tool = meld
[core]
	autocrlf = input
